body {
    padding: 0;
    margin: 0;
    color: red;
    background-color: blue;
    font-family: cursive;
    font-size: large;
}

#loading-modal {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

#loading-modal p {
    display: table-cell;
    vertical-align: middle;
}

#loading-modal svg {
    width: 50px;
    height: 50px;
    transform-origin: bottom right;
    animation: rotating 1s linear infinite;
    margin-right: 50px;
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.page {
    display: none;
    text-align: center;
}

a {
    color: red;
    text-decoration: none;
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    width: 100px;
    padding: 10px 0;
    background-color: darkgreen;
    margin: 10px auto;
}

li a {
    color: white;
}

li.unlocked, li.current {
    background-color: limegreen;
}

p {
    padding: 0 20px;
}

#menu-page {
    display: block;
}

#character-list img {
    width: 50px;
    height: 50px;
}

.game-header {
    position: absolute;
    top: 0;
}

.button {
    width: 50px;
    height: 50px;
}

.align-right {
    width: 100%;
    text-align: right;
    display: block;
}

#level-title {
    left: 50%;
    margin-top: 10px;
    margin-left: -50px;
}

#home-button {
    right: 0;
}

#reset-button {
    left: 0;
}

#game-canvas {
    display:block;
    margin:0;
    padding: 0;
    border:20px;
}


